/* Don't change the existing CSS. */

.box {
    background-color: blue;
    padding: 10px;
  
  }
  .inner-box{
    background-color: red;
  }
  
  img{
    width: 100%;
    length: 100%;
    height:100%
  }
  
  
  p {
    color: yellow;
    margin: 0;
    padding: 0;
  }
  .white-text{
    color: white;
  }